@import '../../theme/theme';

.header-container {
  @media only screen and (min-width: $screen-width-medium) {
    border-top-left-radius: $primary-border-radius;
    border-top-right-radius: $primary-border-radius;
  }
}

.header-banner {
  display: flex;
  align-items: center;
  background-color: $primary-color;
  color: white;
  @media only screen and (min-width: $screen-width-medium) {
    border-top-left-radius: $primary-border-radius;
    border-top-right-radius: $primary-border-radius;
  }
}

.header-logo {
  width: 50px;
  padding: 5px;
}

.header-title {
  white-space: nowrap;
  font-size: 1.4em;
  font-weight: 700;
  font-style: italic;
}

.header-navigation {
  display: flex;
  flex-direction: row;
  background-color: $primary-color-dark-100;
  color: $accent-color-x-light;
  padding-left: 5px;
}

.header-navigation-link {
  padding: 5px 10px 5px 10px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: $primary-color;
  }
  @media only screen and (min-width: $screen-width-medium) {
    width: auto;
    text-align: left;
  }
}

.header-space {
  width: 100%;
}

.account-logo {
  padding-right: 5px;
}

.account-dropdown {
  position: relative;
  display: flex;
  flex-direction: row;
}

.account-dropdown-content {
  position: absolute;
  padding: 10px;
  background-color: $primary-color-dark-100;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: $primary-border-radius;
  min-width: 160px;
  top: 45px;
  right: 10px;
  z-index: 1;
  display: none;
}

.account-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 5px 15px 5px 5px;
  white-space: nowrap;
  &:hover {
    .account-dropdown-content {
      display: block;
    }
  }
}

.account-dropdown-content {
  border-radius: $primary-border-radius;
  &:hover {
    background-color: $primary-color;
  }
}

.selected {
  background-color: $primary-color-dark-200;
}
