/* You can add global styles to this file, and also import other style files */
@import "theme/theme";

html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height:100%;
}

body {
  @include primary-font;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height:100%;
}
